<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>TOC Goes Here</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!--<h1 class="title">
      {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>-->
    <mat-toolbar color="primary">
    
      <mat-toolbar-row>
        <span>Book Title</span>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="drawer.toggle()">
          TOC
        </button>
        <button mat-icon-button (click)="loadPreviousPage()">
          <mat-icon aria-label="Load the previous page" >arrow_left</mat-icon>
        </button>
        <button mat-icon-button (click)="loadNextPage()">
          <mat-icon aria-label="Load the next page" >arrow_right</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="otherActionsMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #settingsMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
        </mat-menu>
        <mat-menu #otherActionsMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voicemail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>

    <div>
      <img [src]="leftPage" height="200" *ngIf="leftPage">
      <img [src]="rightPage" height="200" *ngIf="rightPage">
    </div>
  </div>

</mat-drawer-container>